@import "../../styles/_mixins.scss";

.MainSection {
  @include flex-element(column, flex-start, stretch, nowrap, 0px);

  padding: 50px 60px;
  background: rgb(30, 30, 30);
  background-image: linear-gradient(
      rgba(15, 10, 10, 0.949),
      rgba(0, 0, 0, 0.285),
      rgba(15, 10, 10, 0.862)
    ),
    url("../../images/fakeflix-hero.jpg");

  height: fit-content;
  z-index: 0;

  &_div {
    @include flex-element();

    height: fit-content;
  }

  &_left {
    @include flex-element(row, flex-start, center);

    // width: 1000px;
    align-items: center;
  }

  &_right {
    @include flex-element(column, space-evenly, center);

    width: 1000px;
    align-items: center;
  }
}
