@import "../../styles/_mixins.scss";

.UpcomingList {
  @include flex-element(column, center, center, wrap, 20px);

  width: 100%;
  height: fit-content;
  margin: 20px 0;

  &_title {
    color: white;
    margin: 0;
    padding: 0;
  }

  .UpcomingList_content {
    @include flex-element(row, flex-start, stretch, nowrap, 20px);

    padding-bottom: 10px;
    width: 800px;
    overflow-x: scroll;
    overflow-y: hidden;

    .upcomingStyle {
      @include flex-element(column, center);

      position: relative;
      min-width: 150px;
      min-height: 200px;
      max-width: 150px;
      max-height: 200px;
      padding: 20px;
      margin-top: 20px;
      border-radius: 20px;
      color: white;
      background-color: black;
      cursor: pointer;

      h3 {
        font-size: 20px !important;
      }
    }
  }
}
